version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: user_service_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user_service_db
      MYSQL_CHARACTER_SET_SERVER: utf8mb4
      MYSQL_COLLATION_SERVER: utf8mb4_unicode_ci
    ports:
      - '3308:3306'
    volumes:
      - user_service_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    container_name: user_service_adminer
    restart: always
    ports:
      - '8081:8080'
    environment:
      ADMINER_DEFAULT_SERVER: mysql

volumes:
  user_service_data:
