services:
  gateway:
    image: nginx:1.27-alpine
    container_name: api_gateway
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - ccm_net
    depends_on:
      - wait-admin
      - wait-user
      - wait-payment

  wait-admin:
    image: alpine:3.20
    command: ["sh","-c","sleep 1"]
    networks: [ccm_net]

  wait-user:
    image: alpine:3.20
    command: ["sh","-c","sleep 1"]
    networks: [ccm_net]

  wait-payment:
    image: alpine:3.20
    command: ["sh","-c","sleep 1"]
    networks: [ccm_net]

networks:
  ccm_net:
    external: true
