server:
  port: ${PORT:3004}
  servlet:
    context-path: /api

spring:
  name: listing-service

  datasource:
    url: "jdbc:mysql://localhost:3307/listing_service_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  cloud:
    config:
      enabled: false

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  logging:
    level:
      com.CarbonCredit.listingservice: DEBUG
      org.springframework.web: INFO

# eureka:
#   client:
#     service-url:
#       defaultZone: http://localhost:8761/eureka/
#     register-with-eureka: true
#     fetch-registry: true
#   instance:
#     hostname: localhost
#     prefer-ip-address: true
#     lease-renewal-interval-in-seconds: 30