spring:
  datasource:
    url: jdbc:mysql://localhost:3306/listing_service_db?createDatabaseIfNotExist=true&useSSL=false
    username: root
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    com.CarbonCredit.listingservice: DEBUG
    org.springframework.web: DEBUG